.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
  background-color: #F5F5F5;
}

.Menu-body {

}

.Menu-body a {

}
