.Menu {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: 'Raleway', sans-serif;
}

.Menu-body li {
  list-style: none;
}

.Menu-body a {
  color: #000;
  text-decoration: none;
}
