.Header {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Raleway', sans-serif;
  background-color: #CCC;
  color: #fff;
}

.Menu-btn {
  padding: 15px;
}

.Pr-doctors {
  padding: 15px;
}

.Pr-doctors h1 {
  margin: 0;
  font-size: 2em;
  font-weight: 900;
}

.Black {
  color: #000;
}
