.Footer {
  height: 10vh;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #CCC;
  color: #fff;
}

.Privacy-and-terms a {
  font-size: 0.7em; 
  color: #000;
  margin: 0;
  text-decoration: none;
}
