.SegmentedControls {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.SegmentedControls button {
  margin: 0.3em;
  height: 7vh;
  width: 45vw;
  background-color: #f9dc5c;
  border: solid 1px #f9dc5c;
  border-radius: 100px;
  font-size: 1.3em;
}

.SegmentedControls button:active {
  background-color: #F9DC5D;
  color: #fff;
  border: none;
}
